.cart__overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 0;
	background-color: #44444466;
	color: #fff;
	display: flex;
	justify-content: flex-start;
	transform: translateX(-100%);
	z-index: 6;
}

.cart {
	width: min(35rem, 100vw);
	background-color: #444;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5rem 1rem;
	transition: all 0.4s ease-in-out;
	transform: translateX(-100%);
}

.cart__overlay.open {
	width: 100vw;
	transform: translateX(0);
}

.cart__overlay.open .cart {
	box-shadow: 5px 0 25px #44444499;
	transform: translateX(0);
}

.cart__overlay .cart > * {
	opacity: 0;
}

.cart__overlay.open .cart > * {
	opacity: 1;
}

.cart__top {
	width: 80%;
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.cart__title {
	font-weight: 100;
	font-size: 2.2em;
	flex: 7% 0 0;
	flex: 80% 0 0;
}

.cart__close {
	border: none;
	background: none;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.cart__close:hover {
	transform: scale(1.2);
}

.cart__items {
	flex: 80% 0 0;
	margin: 2rem 0rem 1rem 1.5rem;
	width: 83%;
	overflow-y: scroll;
}

.cart__items::-webkit-scrollbar-track {
	border-radius: 7px;
	background-color: transparent;
}

.cart__items::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
}

.cart__items::-webkit-scrollbar-thumb {
	border-radius: 7px;
	background-color: #ffffff55;
	-webkit-box-shadow: inset 0 0 4px #ffffff77;
}

.cart__item {
	display: grid;
	grid-template-columns: 4rem 3fr 2fr 1fr;
	align-items: center;
	margin: 1.5rem 0.5rem;
	width: calc(100% - 1.5rem);
	border-radius: 40px;
	border: 1px solid #ffffff44;
	height: 4rem;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.cart__item:first-child {
	margin-top: 0;
}

.cart__item:hover {
	background-color: #ffffff08;
}

.cart__item-img {
	margin: 0.5rem;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	background-image: url(https://cdn.shopify.com/s/files/1/0052/1525/6640/products/mens-track-cargo-pants-streetwear-joggers-pants-m-3xlmusho-stationmusho-station-18040008_360x.jpg?v=1557515609);
	background-position: center;
	background-size: cover;
	opacity: 0.8;
}

.cart__item-title {
	font-weight: 100;
	margin: 0 0.5rem 0.5rem;
}

.cart__quantity {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-weight: 100;
	margin-bottom: 0.5rem;
}

.cart__quantity .minus,
.cart__quantity .plus {
	cursor: pointer;
	font-size: 1.2em;
	border: none;
	background: none;
	color: #fff;
}

.cart__delete {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0.5rem;
	transition: transform 0.3s ease-in-out;
}

.cart__delete-btn:hover {
	transform: scale(1.2);
}

.cart__delete-btn {
	border: none;
	background: none;
	cursor: pointer;
	margin-bottom: 0.25rem;
}

.cart__total {
	font-weight: 100;
	font-size: 1.5em;
	width: 75%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.cart__checkout {
	display: block;
	width: 75%;
	background-color: transparent;
	border: 1px solid #ffffff44;
	color: #fff;
	font-weight: 100;
	font-size: 1em;
	padding: 1rem 0;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	letter-spacing: 1px;
}

.cart__checkout:disabled {
	opacity: 0.5 !important;
	pointer-events: none;
}

.cart__checkout:hover {
	background-color: #ffffff11;
}

.cart__empty {
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 100;
	text-align: center;
	justify-self: center;
	margin-top: 4rem;
}
