.product__list {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(20vw, 1fr));
	justify-content: space-between;
	padding: 1rem 2rem;
	max-width: 1250px;
	margin: 0 auto;
}

.product__item {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid #99999955;
	box-shadow: 1px 1px 5px #00000015;
	position: relative;
	transition: all 0.2s ease-out;
	overflow: hidden;
	min-height: 350px;
}

.product__img {
	flex: 60%;
	width: 100%;
	background-image: url(https://cdn.shopify.com/s/files/1/0052/1525/6640/products/mens-track-cargo-pants-streetwear-joggers-pants-m-3xlmusho-stationmusho-station-18040008_360x.jpg?v=1557515609);
	background-position: center;
	background-size: cover;
	opacity: 0.8;
}

.product__desc {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 1rem;
	text-align: center;
	font-size: 0.9em;
}

.product__desc > small {
	margin: 0.2rem 0;
}

.product__sizes {
	display: flex;
}

.product__size {
	width: 1.25rem;
	height: 1.25rem;
	margin: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #444;
	border-radius: 2px;
	font-size: 0.6rem;
}

.product__cta {
	position: absolute;
	right: 1.5rem;
	top: 1.5rem;
	transform: translate(50%, -50%) scale(0);
	opacity: 0;
	background-color: transparent;
	border: none;
	background-color: #444;
	width: 1.2rem;
	height: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
}

.product__cta:hover {
	box-shadow: 1px 1px 5px #44444499;
	transform: translate(50%, -50%) scale(1.1) !important;
}

.product__cta::before {
	content: '';
	position: absolute;
	top: 50%;
	right: 150%;
	transform: rotate(45deg) translate(0, -20%) scaleX(0);
	transform-origin: right;
	width: 0.5rem;
	height: 0.5rem;
	background-color: #444;
	opacity: 0;
	transition: all 0.2s 0.1s ease-out;
	box-shadow: 1px 1px 5px #44444499;
}

.product__cta::after {
	content: 'Add to Cart';
	position: absolute;
	right: 150%;
	top: 50%;
	transform: translateY(-50%) scaleX(0);
	transform-origin: right;
	background-color: #444;
	color: #fff;
	padding: 0.25rem 0.5rem;
	border-radius: 5px;
	font-size: 0.7em;
	width: 4rem;
	opacity: 0;
	transition: all 0.2s 0.1s ease-out;
	box-shadow: 1px 1px 5px #44444499;
}

.product__cta:hover::after {
	opacity: 1;
	transform: translateY(-50%) scaleX(1);
}

.product__cta:hover::before {
	opacity: 1;
	transform: rotate(45deg) translate(0, -20%) scaleX(1);
}

.product__item:hover {
	box-shadow: 1px 1px 10px #00000035;
}

.product__item:hover > .product__cta {
	opacity: 1;
	transform: translate(50%, -50%) scale(1);
}

.product__cta > * {
	margin: 0 0.2rem;
}

@media only screen and (max-width: 790px) {
	.product__list {
		padding: 1rem;
	}
}

@media only screen and (max-width: 350px) {
	.product__list {
		padding: 0;
	}
}
